 Directorios de configuración de editores
.vscode/
.idea/

# Archivos y carpetas de compilación
bin/
out/

C:\Users\USUARIO\Desktop\curso-poo\proyecto1\src\Swing\Fundamentos_de_programacion_GUI\Action_Listener_Profundizacion.java

# Archivos generados por compilación
*.class
*.dat

# Archivos de configuración del IDE
*.iml

# Archivos JSON (si necesitas que algunos JSON sean rastreados, especifica excepciones)
*.json

# Excluir archivos innecesarios del sistema operativo
.DS_Store
Thumbs.db
